<div class="jumbotron">
  <div class="form-group">
    <input type="text"
      class="form-control"
      placeholder="Write a task"
      (keyup)="addTask($event)"
      [(ngModel)]="taskText">
      <span class="help-block">Nombre de charactères: {{ taskText.length }}</span>
  </div>

  <ul class="list-group">
    <li class="list-group-item" *ngFor="let task of tasks; let i = index">
      <input
        type="checkbox"
        [(ngModel)]="task.done"> <span [ngClass]="{textDel: task.done}">{{ task.title }}</span>

        <i class="pull-right glyphicon glyphicon-trash" (click)="removeTask(i)"></i>
    </li>
  </ul>
  <small>{{ getNbTaskDone() }} / {{ tasks.length }} validated</small>
</div>
