<div class="row">
    <!-- [style.color]="twitte.length > maxLength ? 'red' : '#333'" -->

    <div class="well">
        <div class="form-group">
                <textarea
                class="form-control"
                [ngClass]="{textColor: twitte.length >= maxLength}"
                [(ngModel)]="twitte"
                maxlength="{{ maxLength }}"
                ></textarea>
        </div>
        <div>
            Nombre de caractères: {{ twitte.length }} / {{ maxLength }}
        </div>
    </div>
</div>
